html, body {
  max-height: 100%;
  overflow-y: hidden;
} 

.grid-row-container {
  display: grid;
  grid-template-rows: 1fr 12fr;
  grid-gap: 20px;
  margin: 20px;
}


.grid-col-container {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-gap: 20px;
  height: 80vh;
  margin-top: 3vh;
}


.grid-col-child {
  height: 100%;
}

.nav-link{
  font-size: 110%;
}

.navbar-brand{
  font-size: 125%;
  position: absolute;
  left: 45%;
  display: block;
}

.dash-table {
  text-align: center;
  margin: 0 auto;
}


@media screen and (max-width: 1024px) {
  .dash-table {
    display: none;
  }

  .grid-col-container{
    grid-template-columns: 1fr 0fr;
  }
}