<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap-5.0.1-dist/styles.css">
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-child blue">
        {{ plot|safe }}
      </div>
      <div class="grid-child green">
        Grid Column 2
      </div>
    </div>
  </body>
</html>
