<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/bootstrap-5.0.1-dist/styles.css">
  </head>
  <body>

    <div class="grid-row-container">
      <div class="grid-row-child">
        Child 1
      </div>
      <div class="grid-row-child">
        <div class="grid-col-container">
          <div class="grid-col-child">
            {{ plot|safe }}
          </div>
          <div class="grid-col-child">
            Grid Column 2
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
